body {
  margin: 0;
  padding: 0;
  color: #666;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 11px;
  background: #222;
  background-image: url("../cs-go-Urbalan-Winter-2017.jpg");
  background-repeat: repeat-y;
  background-position: center top;
  opacity: 0.8;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  background-image: url("../5.jpg");
}

li {
  float: left;
}

li a {
  display: block;
  color: RGB(72, 251, 71);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

p {
  text-align: justify;
}

#nav {
  height: 30px;
  background-color: #fff;
  margin: 0;
  padding: 0;
  background-image: url("../5.jpg");
}

#wrapper {
  width: 980px;
  margin: 0 auto;
  background: #000;
  padding: 0;
}

#headerpagr {
  height: 270px;
  background-color: #000;
  margin: 0;
  padding: 0;
  background-image: url("../22_1407441980.jpg");
  background-repeat: no-repeat;
}

#container {
  min-width: 600px;
  padding-top: 15px;
}

#turinys {
	margin-left: 175px;
	margin-right: 175px;
	min-height:600px;
	padding: 20px;
	color: RGB(72, 251, 71);
	border-top: 3px solid #444;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
  background-image: url("../cs-go-Urbalan-Winter-2017.jpg");



}

#apacia {
  color: RGB(72, 251, 71);
  text-align: center;
  position: fixed;
  bottom: 0px;
  height: 40px;
  width: 100%;
  background-image: url("../footer.jpg");
}
